@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
html, body, .container {
    min-height: 100vh;
}

.main {
    background-image: url(up_taust1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: contain;
}

.storyline {
    background-image: url(pixar-up\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: contain;
}

.container {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    color: white;